body {
    font-family: 'PT Sans', sans-serif;
	color: #808080;
}
a, a:hover, a:active {
	color: #f36176;
}
#hook-to-top {
	background-color: #f36176;
}
.main-menu .main-nav > li > a:hover, 
.main-menu .main-nav > li > a:focus, 
.main-menu .main-nav > li.active > a, 
.main-menu .main-nav > li > a.current {
    color: #f36176;
}
.header.header-transparent.scrolling-menu .header-main .main-menu .main-nav > li > a:hover, .header.header-transparent.scrolling-menu .header-main .main-menu .main-nav > li > a:focus, .header.header-transparent.scrolling-menu .header-main .main-menu .main-nav > li.active > a, .header.header-transparent.scrolling-menu .header-main .main-menu .main-nav > li > a.current {
    color: #f36176;
}
.service-item .service-icon > i {
    color: #f36176;
}
.main-menu .main-nav > li > a:after, 
.main-menu .main-nav > li > a:before {
    background-color: #222222;
}
.main-menu .main-nav > li > a:hover {
    color: #222222;
}
.button-slide a, .button {
	background-color: #f36176;
}
.accordion-heading .accordion-toggle.active {
    color: #f36176 !important;
}
.accordion-heading .number {
    color: #f36176;
}
.contact-item > i {
    color: #f36176;
}
.recent-post h6 a:hover {
    color: #f36176;
}
.testimonials-slider .owl-page.active:before {
    background-color: #f36176;
    border-color: #f36176;
}
.simple-line-3 {
    border-bottom: 4px solid #f36176;
}