
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<link rel="shortcut icon" href="/images/favicon.png" />
	<title>درباره من | وب سایت شخصی سروش نژاد آذر</title>

	<link rel="stylesheet" href="/Content/Frontend/css/bootstrap.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/bootstrap-dropdownhover.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/font-awesome.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/font-materialdesign.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/settings.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/owl.carousel.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/owl.theme.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/owl.transitions.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/magnific-popup.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/flexslider.css" type="text/css" media="all" />
	<link rel='stylesheet' href='/Content/Frontend/css/animate.min.css' type='text/css' media='all' />
	<link rel="stylesheet" href="/Content/Frontend/css/morphext.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/style-main.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/Content/Frontend/css/custom.css" type="text/css" media="all" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link href="~/Content/FrontEnd/css/style-zavosh.css" rel="stylesheet" />
	
	<style>
		#main {
			direction: rtl;
		}
	</style>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
	</div>
	<div id="body_hider" class="hider_flag"></div>
	<div id="body_hider_full" class="hider_flag"></div>
	<div class="hidden-bar">
		<div class="hidden-bar-inner">
			<div id="hidden-bar-mobile-logo">
				<a href="/"><img src="/images/logo-sorush.png" alt="" /></a>
			</div>
			<div class="menu-mobile">
				<ul>
					<li><a href="/">صفحه اصلی</a></li>
					<li><a href="/home/about">درباره من</a></li>
					<li><a href="/home/bloglist">دست نوشته ها</a></li>
					<li><a href="/home/contact">تماس با من</a></li>
				</ul>
			</div>
			<div class="hook-social minimal">
				<div class="hook-social-inner">
					<div class="social-img-wrp hook-socialink prk_bordered hook-behance">
						<a href="#" target="_blank">
							<span class="hook-behance fa fa-behance"></span>
							<span class="bg-shifter"><i class="fa fa-behance"></i></span>
						</a>
					</div>
					<div class="social-img-wrp hook-socialink prk_bordered hook-dribbble">
						<a href="#" target="_blank">
							<span class="hook-dribbble fa fa-dribbble"></span>
							<span class="bg-shifter"><i class="fa fa-dribbble"></i></span>
						</a>
					</div>
					<div class="social-img-wrp hook-socialink prk_bordered hook-facebook">
						<a href="#" target="_blank">
							<span class="hook-facebook fa fa-facebook"></span>
							<span class="bg-shifter"><i class="fa fa-facebook"></i></span>
						</a>
					</div>
					<div class="social-img-wrp hook-socialink prk_bordered hook-instagram">
						<a href="#" target="_blank">
							<span class="hook-instagram fa fa-instagram"></span>
							<span class="bg-shifter"><i class="fa fa-instagram"></i></span>
						</a>
					</div>
					<div class="social-img-wrp hook-socialink prk_bordered hook-pinterest">
						<a href="#" target="_blank">
							<span class="hook-pinterest fa fa-pinterest"></span>
							<span class="bg-shifter"><i class="fa fa-pinterest"></i></span>
						</a>
					</div>
					<div class="social-img-wrp hook-socialink prk_bordered hook-soundcloud">
						<a href="#" target="_blank">
							<span class="hook-soundcloud fa fa-soundcloud"></span>
							<span class="bg-shifter"><i class="fa fa-soundcloud"></i></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="search-hider"></div>
	<div class="hidden-menu">
		<div class="hidden-menu-inner">
			<ul class="main-nav">
				<li><a href="/">صفحه اصلی</a></li>
				<li><a href="/home/about">درباره من</a></li>
				<li><a href="/home/bloglist">دست نوشته ها</a></li>
				<li><a href="/home/contact">تماس با من</a></li>
			</ul>
		</div>
	</div>
	<div class="site">
	<header class="header-mobile">
		<div class="container">
			<div class="row">
				<div class="col-xs-10">
					<a href="/" id="logo-2">
						<img class="logo-image" src="/images/logo-sorush.png" alt="Hook Logo">
					</a>
				</div>
				<div class="col-xs-2">
					<div class="text-right"><i class="fa fa-bars hidden-bar-toggle"></i></div>
				</div>
			</div>
		</div>
	</header>
	<header class="header header-transparent header-desktop">
		<div class="header-inner">
			<div class="header-main">
				<div id="logo">
					<div id="logo-before">
						<a href="/"><img src="/images/logo-sorush.png" alt="" /></a>
					</div>
					<div id="logo-after">
						<a href="/"><img src="/images/logo-sorush.png" alt="" /></a>
					</div>
				</div>
				<div class="overlay-menu">
					<div class="line line-1"></div>
					<div class="line line-2"></div>
					<div class="line line-3"></div>
				</div>
			</div>
		</div>
	</header>
		<div id="main">
			<div class="section section-fixed section-bg-29 pt-20 pb-20">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="text-center">
								<h1 class="fw-bolder big white mb-1">درباره سروش نژاد آذر</h1>
								<h5 class="white">زندگی نامه سروش نژاد آذر ملقب به سروش خان را در این صفحه می بینید</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section bg-gray-2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="pt-7 pb-10 pr-15 pl-15 bg-white">
								<p>
									سروش نژادآذر ملقب به #سروش‌خان، فعالیت‌های هنری خود در #سینما را با سمت #دستیار #تهیه‌کننده در محضر آقایان #فریدونجیرانی و #حسینفرح‌بخش آغاز کرد. سپس به عرصه تیاتر کوچ کرد و به مدت 6 سال توانست در چهار فقره تیاتر به عنوان #تهیه‌کننده و به صورت مستقل راه خود را در عرصه هنر ادامه دهد. او بنیان‌گذار کافه مراکشی «باهیه پالاس» در تهران است که مورد استقبال عموم قرار گرفته است.

								</p><p>
	تحصیلات متوسطه و دانشگاهی
</p><p>
	نژادآذر، متولد آبان 1365 است. وی تحصیلات متوسطه را در دبیرستان پایندگان راه دانش (تهران، خیابان ملک) به پایان رساند و رشته معماری را به عنوان میراثی خانوادگی برگزید. او فارغ‌التحصیل دانشگاه آزاد واحد تهران شمال است و برای ارتقای هنر می‌کوشد.

								</p><p>ورود به عرصه سینما با دستیاری
								</p><p>
	همانند بسیاری از متولدان دهه شصت، از بچگی علاقمند به سینما بوده است. به همین دلیل تصمیم می‌گیرد هم‌زمان با تحصیل در رشته معماری که شغل آبا و اجدادی بوده، سینما را هم دنبال کند و به صورت آکادمیک بیاموزد. در چند کار به عنوان دستیار یا مشاور تهیه‌کننده حضور داشته و از حضور اساتید فن، کسب تجربه کرده است.

								</p><p>حضور حرفه‌ای در عرصه تیاتر
								</p><p>
	نژادآذر می‌گوید: «در مدت 6 سال، چهار فقره کار در تیاتر انجام دادم. چون با وسواس کار انجام می‌دهم و بیشتر هم سعی‌ام بر این بوده که با جوانانی کار کنم که حرفی برای گفتن دارند، دارای دانش هستند و در جست‌وجوی کسانی هستند که نه تنها  باورشان کند بلکه کمک‌شان کند استعدادهایشان شکوفا شود.
								</p><p>
	کار حرفه‌ای‌ام در تیاتر را با عنوان تهیه‌کننده شروع کردم. اولین کارم «جنی» بود که بهمن ۱۳۹۴ در خانه نمایش «دا» کار کردم. کار دوم به اسم « نظام آباد» در فروردین ماه ۱۳۹۷ در خانه نمایش «اداره تیاتر» کار کردم. کار سوم هم به اسم «عبدل میمون لات پا کوتاه» در شهریور ماه ۱۳۹۷ در تماشاخانه «سنگلج» کار کردم و نمایش چهارم هم، کار حرفه‌ای و پر بازیگر «هوس و هفت دقیقه» بود که در تیرماه ۱۳۹۸ در سالن نمایش «نوفل لوشاتو» کار کردم و با استقبال بسیار خوب تماشاچیان روبه‌رو شد. این نمایش در آن سال، به عنوان پرمخاطب‌ترین نمایش سالن نوفل لوشاتو شناخته شد.»
								</p><p>
	 کافه مراکشی «باهیه پالاس»
								</p><p>
	او در پاسخ به اینکه چه شد به کافه‌داری روی آوردید؟ می‌گوید: «چون از نوجوانی علاقمند به کافه و رستوران بودم، به همین دلیل دوست داشتم در کنار همه کارهای اصلی‌ام، یک کافه‌رستوران هم به عنوان سرگرمی و تفریح داشته باشم. اما بعدها در سال 1398 تصمیم گرفتم به صورت حرفه‌ای یک کافه‌رستوران مراکشی به اسم باهیه در شهرک غرب که شعبه اصلی به اسم خودم ثبت شده است، راه‌اندازی کنم. توفیق باهیه در مدت کوتاهی سبب شد که از همان آغاز راه، متقاضیان برای تاسیس شعبات دیگر در کلان‌شهرهای ایران، طرح موضوع کنند. در حال حاضر در صدد هستیم چند شعبه در مشهد و اهواز راه‌اندازی کنیم. در تهران هم، قرار است مناطق 1 و 22 میزبان شعبه‌های دیگر باهیه باشند.»
</p>
					 
							</div>
						</div>
			 
					</div>
				</div>
			</div>
			 
		</div>
		<footer class="footer pt-11 bg-dark-2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center white mb-3">
							<img width="295" src="/images/logo-footer.png" alt="" />
							<div class="mt-4"></div>
							<h5 class="color big fw-600">سروش نژاد آذر</h5>
							<p>جهت تماس با من می توانید از راه های ارتباطی زیر استفاده کنید<br /> </p>
						</div>
						<div class="text-center white mb-2">
							<p>09122261798 . <a href="mailto:info@Soroushkhan.ir">info@Soroushkhan.ir</a> . www.Soroushkhan.ir</p>
						</div>
						<div class="text-center mb-9">
							<div class="hook-social minimal">
								<div class="hook-social-inner">
									<div class="social-img-wrp hook-socialink prk_bordered hook-twitter">
										<a href="http://twitter.com/Soroushkhann" target="_blank">
											<span class="hook-twitter fa fa-twitter"></span>
											<span class="bg-shifter"><i class="fa fa-twitter"></i></span>
										</a>
									</div>
						 
									<div class="social-img-wrp hook-socialink prk_bordered hook-facebook">
										<a href="#" target="_blank">
											<span class="hook-facebook fa fa-facebook"></span>
											<span class="bg-shifter"><i class="fa fa-facebook"></i></span>
										</a>
									</div>
									<div class="social-img-wrp hook-socialink prk_bordered hook-instagram">
										<a href="http://instagram.com/Soroushkhann" target="_blank">
											<span class="hook-instagram fa fa-instagram"></span>
											<span class="bg-shifter"><i class="fa fa-instagram"></i></span>
										</a>
									</div>
							 
								</div>
							</div>
						</div>
						<div class="text-center white">
							<div class="simple-line"></div>
							<p><a href="#">طراحی سایت زاوش</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div id="hook-to-top" class="prk_radius">
		<i class="fa fa-arrow-up"></i>
	</div>

	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/bootstrap.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/bootstrap-dropdownhover.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.singlePageNav.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/modernizr-2.7.1.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/classie.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.isotope.init.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.countTo.js"></script>
	<script type='text/javascript' src='/Scripts/FrontEnd/waypoints.min.js'></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.fitvids.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/bootstrap-progressbar.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jQuery.headroom.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/headroom.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/morphext.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/jquery.equalheights.min.js"></script>
	<script type="text/javascript" src="/Scripts/FrontEnd/script.js"></script>
	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDwtb7cR_XBPEvxtQ_Yq3_xKsOWQroCTPA&amp;sensor=false"></script>
</body>
</html>
